.booking-container {
  display: flex;
  flex-direction: row;
  row-gap: 125px;
  position: relative;
}
.booking-bg__img {
  width: 100%;
}
.booking-container__left {
  width: 458px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  position: absolute;
  z-index: 10;
  margin: 65px 125px 0 165px;
}
.booking-container__left img {
  height: 40px;
  width: 103px;
  margin-bottom: 120px;
}
.booking-container__left h1 {
  color: #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: -1px;
}
.booking-container__left p {
  color: #fff;
  font-size: 20px;

  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.booking-container__right {
  position: absolute;
  width: 540px;
  right: 10%;
  top: 270px;
  padding: 50px 48px 48px 48px;
  z-index: 20;
  background-color: #fff;
  box-shadow: 15px 25px 40px -15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
input {
  width: 100%;
  border: none;
  padding: 30px 0 20px 10px;
  outline: none;
  font-size: 20px;
}
.pickDate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin: 30px 0;
}
.pickDate-container p,
.pickTime-container p {
  width: 150px;
}
.pickDate-content {
  display: flex;
  column-gap: 10px;
}
.pickDate-content__box,
.pickTime-content__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input[type="number"] {
  width: 80px;
  height: 43px;
  cursor: pointer;
  padding-bottom: 14px;
}

.pickTime-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 20px;
}
.pickTime-content {
  display: flex;
  column-gap: 10px;
}

select {
  width: 80px;
  height: 43px;
  border: none;
  background-color: white;
  padding-top: 10px;
  font-size: 20px;
}

.peopleTotal-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
}

.form-button {
  display: block;
  margin-top: 30px;
  width: 100%;
}
.errorsMsg {
  font-size: 12px;
  color: red;
}

.booking-empty__box {
  position: relative;
}
.booking-lines {
  position: absolute;
  top: 210px;
  right: 630px;
  z-index: -10;
}
@media only screen and (max-width: 1024px) {
  .booking-container__left {
    width: 350px;
    margin-left: 5%;
  }
  .booking-container__left img {
    margin-bottom: 30px;
  }
  .booking-container__right {
    width: 450px;
    top: 200px;
    right: 5%;
    padding: 30px 30px;
  }
  .pickDate-container,
  .pickTime-container {
    column-gap: 10px;
  }
  input[type="number"] {
    width: 73px;
  }
  .booking-lines {
    right: 270px;
  }
}
@media only screen and (max-width: 768px) {
  .booking-container {
    flex-direction: column;
  }
  .booking-container__left h1,
  .booking-container__left p {
    text-align: center;
  }
  .booking-container__left {
    width: 80%;
    margin: 65px 10% 0 10%;
  }
  .booking-container__right {
    width: 80%;
    box-shadow: 15px 25px 40px -15px rgba(0, 0, 0, 0.5);
    top: 420px;
    right: 10%;
    left: 10%;
    padding: 50px;
  }
  .pickDate-container,
  .pickTime-container {
    column-gap: 70px;
  }
  .booking-empty__box {
    height: 520px;
  }
  .pattern-curved__bottom,
  .booking-lines {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .booking-container__left {
    width: 100%;
    margin: 65px 0 0 0;
    text-align: center;
  }
  .booking-container__left h1 {
    font-size: 32px;
  }
  .booking-container__left p {
    font-size: 16px;
  }
  .booking-container__right {
    width: 327px;
    right: 0;
    left: 7%;
    padding: 30px;
  }
  .pickDate-container,
  .pickTime-container {
    flex-direction: column;
    align-items: start;
  }
  input[type="number"] {
    width: 73px;
  }
}
